<!-- Footer -->
<div class="footer navbar-default navbar-static-top">
    <div class="container{{ '-fluid' if fluid }}">
        <p class="navbar-text navbar-left">
            &copy; 2013 - {{ year }} Children of Ur <span class="hidden-xs">Development Team</span> - <a
                style="cursor: pointer;" type="button" id="disclaimer" class="navbar-link link" rel="popover"
                data-toggle="popover">Disclaimer</a>
        <noscript>:
            <small>Children of Ur is not endorsed or affiliated with <a href="http://tinyspeck.com" target="_blank">Tiny
                Speck</a> (the original developers of <a href="http://glitchthegame.com/" target="_blank">Glitch</a>) in
                any way. Enable JavaScript to hide this message.
            </small>
        </noscript>
        </p>
    </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
    $('#disclaimer').popover({
        'placement': 'top',
        'title': 'Disclaimer <button onclick="$(&quot;#disclaimer&quot;).popover(&quot;hide&quot;);" class="pull-right close" data-dismiss="popover" style="margin-top: -2px;">&times;</button>',
        'content': 'Children of Ur is not endorsed or affiliated with <a href="http://tinyspeck.com" target="_blank">Tiny Speck</a> (the original developers of <a href="http://glitchthegame.com/" target="_blank">Glitch</a>) in any way.',
        'html': 'true',
        'trigger': 'click manual'
    });
</script>
