<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<meta name="description" content="A community remake of Glitch™ - A Game of Giant Imagination"/>
<meta name="keywords"
      content="Children of Ur, CoU, community, remake, Glitch, Glitch the Game, Ur, Eleven, Giant, Giant Imagination, imagination"/>
<link rel="icon" href="{{ url_for('static', filename='img/logo/favicon.ico') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/favicon.png') }}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arvo|Source+Code+Pro:400,700|Varela+Round|Patrick+Hand|Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sniglet:800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&effect=3d|3d-float" rel="stylesheet"
      type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/defaults.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
