<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>CoU Forums</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row" id="categories">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Forums Search</h2>
            </div>
            <form action="/forums/search" method="get">
                <div class="input-group input-group-lg">
                    <input name="q" class="form-control" type="search" required>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="fas fa-search"></i> Go
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="col-md-12">
            &nbsp;
        </div>

        <div class="col-sm-12">
            <!-- Category listing -->
            <div class="page-header">
                <h2>Forum Categories</h2>
            </div>
            <div class="list-group">
                {% for category in categories if not category.hidden %}
                    <a href="{{ category.url }}" class="list-group-item list-group-item-action">
                        <span class="badge">{{ category.num_posts }} posts</span>
                        <h4 class="list-group-item-heading">{{ category.name }}</h4>
                        <p class="list-group-item-text">{{ category.description }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
