<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Profiles | Children of Ur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profiles.css') }}">
    {% include "_common/randbg.html" %}
</head>
<body class="randbg">
{% include "_common/navbar.html" %}

<div class="container" id="profile-container-generic">
    <div class="row" id="profile-search">
        <div class="col-md-8 col-sm-8">
            <h1 class="graphic" id="playersearchtitle">Player Search</h1>
            <form action="javascript:goToPlayer();">
                <div class="input-group input-group-lg" id="search-group">
                    <input class="form-control" type="search" placeholder="Search for a player..."
                           autocomplete="off" id="username-input" required list="username-list">
                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Go to Player</button>
                        </span>
                </div>
                <datalist id="username-list"></datalist>
            </form>
        </div>
        <br class="visible-xs">
        <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
            <div class="panel panel-default center-block">
                <div class="panel-heading">
                    {{ online_users | length }} Players Online
                </div>
                <ul class="list-group" id="online-list">
                    {% if online_users %}
                        {% for user in online_users %}
                            <a class="list-group-item" href="{{ url_for('profiles._player', username=user) }}">{{ user }}</a>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">Nobody :(</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="{{ url_for('static', filename='js/player_search.js') }}"></script>
</body>
</html>
