<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Children of Ur Blog</title>
    {% include "_common/randbg.html" %}
</head>
<body class="randbg">
{% include "_common/navbar.html" %}

<div class="container">
    {% if is_dev %}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Post</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/blog/new" method="get">
                            <div class="form-group">
                                <label for="cat-id">Category</label>
                                <select class="form-control" name="cat_id" id="cat-id">
                                    {% for category in categories | sort(attribute="name") %}
                                        <option value="{{ category.cat_id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                    Start writing
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Drafts</h3>
                    </div>
                    {% if not drafts %}
                        <div class="panel-body">
                            <p class="text-warning">No drafts</p>
                        </div>
                    {% else %}
                        <div class="list-group">
                            {% for post in drafts %}
                                <a href="{{ post.edit_url }}" class="list-group-item list-group-item-action">
                                    <h4 class="list-group-item-heading">{{ post.title }}</h4>
                                    <p class="list-group-item-text">{{ post.preview | safe }}</p>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    {% endif %}

    {% if not posts %}
        <div class="alert alert-warning">
            <p>
                No posts
                {% if category %}
                    in {{ category.name }}
                {% endif %}
            </p>
        </div>
    {% else %}
        {% set show_category = True %}
        {% for post in posts %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% include "_common/preview.html" %}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12 text-center">
                {% include "_common/pagination.html" %}
            </div>
        </div>
    {% endif %}
</div>

{% include "_common/foot.html" %}
</body>
</html>
