<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ post.title }} | Blog | Children of Ur</title>
    {% include "_common/randbg.html" %}
</head>
<body class="randbg">
{% include "_common/navbar.html" %}

<div class="container main-container">
    {% if is_dev %}
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <a href="{{ post.edit_url }}" class="btn btn-default btn-block">
                    <i class="fas fa-edit"></i> Edit post
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-block" onclick="deletePost(this)"
                   data-delete-post-id="{{ post.entry_id }}">
                    <i class="fas fa-trash"></i> Delete post
                </a>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title post-title">
                        {{ post.title }}
                        <small class="pull-right hidden-xs">
                            <time datetime="{{ post.created }}">{{ rel_time(post.created) }}</time>
                        </small>
                    </h3>
                </div>
                <div class="panel-body post-panel-body">
                    {{ post.content | safe }}
                    <p>&mdash; <a href="{{ post.user.profile_url }}">{{ post.user.username }}</a></p>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <a href="{{ post.category.url }}">
                                <span class="label label-primary">{{ post.category.name }}
                                </span>
                            </a>
                            <div class="col-xs-6 visible-xs">
                                <small class="pull-right">{{ rel_time(post.created) }}</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="lead" id="comments">
                                <br>
                                {{ post.replies | count }} comment{{ plural_s(post.replies | count) }}
                                <a href="#addcomment"><i class="fas fa-edit"></i></a>
                                <br>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <!-- Comments -->
                            {% for reply in post.replies | sort(attribute="created") %}
                                <div class="media reply" data-reply-id="{{ reply.entry_id }}"
                                     id="reply-{{ reply.entry_id }}">
                                    <div class="media-left avatar-head text-center">
                                        <a href="{{ reply.user.profile_url }}">
                                            <img class="mr-3 media-object" src="{{ reply.user.avatar_url }}"
                                                 alt="{{ reply.user.username }}'s avatar">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-right">
                                            <!-- Editing -->
                                            {% if reply.user_id == logged_in_user_id %}
                                                <p>
                                                    <a href="{{ reply.edit_url }}" class="btn btn-info"
                                                       title="Edit Reply">
                                                        <i class="fas fa-fw fa-edit"></i>
                                                    </a>
                                                    <button class="btn btn-danger"
                                                            title="Delete Reply"
                                                            data-delete-reply-id="{{ reply.entry_id }}">
                                                        <i class="fas fa-fw fa-trash"></i>
                                                    </button>
                                                </p>
                                            {% endif %}
                                        </div>

                                        <h4 class="media-heading">
                                            <a href="{{ reply.user.profile_url }}">{{ reply.user.username }}</a>
                                            replied
                                            <span title="{{ reply.created }}">{{ reply.created_ago }}</span>
                                            {% if reply.was_edited %}
                                                (edited <span title="{{ reply.edited }}">{{ reply.edited_ago }})</span>
                                            {% endif %}
                                        </h4>
                                        <br>
                                        {{ reply.content | safe }}
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12">
                            <p class="lead" id="addcomment">
                                <a href="#comments" class="pull-right"><i class="fas fa-arrow-up"></i> Up to
                                    comments</a>
                                Leave a Reply
                            </p>
                            {% if logged_in %}
                                <div class="alert alert-info visible-xs">
                                    You may need to tap the <i class="fas fa-book-open"></i> button to open the editor.
                                </div>
                                <textarea id="reply-editor" required></textarea>
                                <br>
                                <button class="btn btn-success" onclick="submitNewReply(this)"
                                        data-loading-text="Submitting..." data-post-id="{{ post.entry_id }}">
                                    <i class="fas fa-save"></i>
                                    Submit Reply
                                </button>
                            {% else %}
                                <div class="alert alert-info">
                                    If you want to reply to this thread, you need to
                                    <a href="{{ url_for('core_pages._login') }}" class="alert-link">log in</a>.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <nav>
            <ul class="pager">
                {% if prev_post %}
                    <li class="previous">
                        <a href="{{ prev_post.url }}">
                            <i class="fas fa-arrow-left"></i>
                            {{ prev_post.title }}
                        </a>
                    </li>
                {% endif %}
                {% if next_post %}
                    <li class="next">
                        <a href="{{ next_post.url }}">
                            {{ next_post.title }}
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=v4a98qb9jxiy841dm73twzz8s8dkp1gcitzbzoknla9gkhk8"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/thread.js') }}"></script>
</body>
</html>
