/* POST _IMAGES */

/* image caption text */
p.wp-caption-text {
	/* space between image and caption */
	margin-top: 10px !important;
	/* caption font */
	font-size: 14px !important;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding: 5px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	left: calc(50% - 10px);
	transform: translateX(-50%);
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* float spacing */

img.pull-right {
	margin-left: 10px;
}

img.pull-left {
	margin-right: 10px;
}

/* linked images in posts */
.post-panel-body a img {
	cursor: -webkit-zoom-in;
}

/* caption borders */
.post-panel-body .wp-caption {
	max-width: 100%;
}

/* prevent images from expanding out of the post body */
.post-panel-body img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

/* POST HEADER */

.post-title {
	font-size: 24px;
	color: #4b2e4c;
}

/* POST FOOTER */

li > .current-cat {
	font-weight: bold;
}

#categories {
	list-style-type: none;
	padding: 0;
}

/* readable links in labels */

.label > a,
.label > a:hover,
.label > a:active {
	color: #fff;
}

.label > a > i,
.label > a > i:hover,
.label > a > i:active {
	color: #fff;
}

/* COMMENTS */

#comments h4 {
	margin-top: 0;
}

.profile-image {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	left: -10px;
}