/* Search */

@media (min-width: 768px) {
    #encyclopedia-search::after {
        content: "";
        background-image: url(/static/img/encyclopedia/magic_rock.png);
        height: 76px;
        width: 75px;
        position: absolute;
        top: -15px;
        left: -45px;
        z-index: 10;
    }
}

.listed-skill .media-left,
.listed-link .media-left {
    min-width: 150px;
    max-width: 150px;
    height: auto;
}

.listed-skill .media-object,
.listed-link .media-object {
    max-width: 100px;
    height: auto;
}

.listed-skill .media-object,
.listed-link .media-object {
    margin: auto;
}

/* List page */

.listed-object {
    border-radius: 5px;
    text-align: center;
    height: 150px;
    cursor: pointer;
    color: inherit;
}

.listed-object:hover,
.listed-link:hover {
    opacity: 0.5;
}

.listed-object img, .listed-object .entity-image {
    display: inline-block;
    height: 80px;
    width: auto;
    max-width: 90%;
    margin-top: 10px;
}

.listed-object span {
    display: block;
    margin-top: 10px;
}

/* Location Page */

#hubs-list ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#hubs-list ul li a {
    padding: 0 15px;
}

#hubs-list .affix {
    top: 10px;
}

ul.location-list-streets {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding: 0;
    margin-top: 1em;
    list-style-type: none;
}

ul.location-list-streets li {
    padding: 2px 0;
}

/* Street pages */

.street-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.street-image button {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Skill pages */

.affiliated-giant img {
    max-height: 200px;
}