#guide-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

#guide-list li {
    margin: 10px 0;
}

#guide-list li a {
    text-decoration: none;
}

#guide-list li a:hover {
    text-decoration: underline;
}

#guide-list-title {
    margin-top: 10px;
}

.small blockquote {
    font-size: 16px;
}

.bold {
    font-weight: 700;
}

h1.guide-label {
    border: 5px solid teal;
    border-radius: 10px;
    font-family: lato, sans-serif;
    color: #444;
    padding: 6px;
    display: inline-block;
    margin: 0 0 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
    background-color: #fff;
    box-shadow: 0 0 10px #444;
}

h1.guide-ring {
    width: 75px;
    height: 75px;
    border: 10px #daa520;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top-style: ridge;
    border-bottom-style: groove;
    border-left-style: ridge;
    border-right-style: groove;
    background: #f7fbfc;
    background: -moz-radial-gradient(center, ellipse cover, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(40%, #d9edf2), color-stop(100%, #add9e4));
    background: -webkit-radial-gradient(center, ellipse cover, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    background: -o-radial-gradient(center, ellipse cover, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    background: -ms-radial-gradient(center, ellipse cover, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    background: radial-gradient(ellipse at center, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbfc', endColorstr='#add9e4', GradientType=1);
    box-shadow: 0 0 10px #444;
}
