.button-xl {
    font-size: xx-large
}

#countContainer {
    text-align: center;
    padding: 10px;
    margin: 10px auto 20px
}

#countStats {
    width: 100%;
    -webkit-text-stroke: .2em #eee;
    color: #4b2e4c
}

#countStats #countNumber {
    font-size: 60px
}

#countStats #countText {
    font-size: 40px;
    vertical-align: top;
    text-align: left;
    position: relative;
    top: 10px;
    text-shadow: 0 1px 6px #000;
    letter-spacing: -2px
}

#countStats #countNumber, #countStats #countText {
    font-family: sniglet
}

.stat-dirt-dug, .stat-peat-harvested, .stat-eggs-seasoned {
    color: #823917
}

.stat-items-from-vendors, .stat-items-dropped, .stat-items-picked-up {
    color: #8dfcf3
}

.stat-spice-milled, .stat-sauce-pan-uses, .stat-knife_board_uses {
    color: #895011
}

.stat-barnacles-scraped, .stat-chickens-squeezed, .stat-smelter-uses {
    color: #d6d0af
}

.stat-beans-harvested, .stat-bubbles-harvested, .stat-cherries-harvested, .stat-eggs-harveted, .stat-gas-harvested, .stat-paper-harvested, .stat-planks-harvested, .stat-spice-harvested {
    color: #ed7e00
}

.stat-bean-trees-petted, .stat-bubble-trees-petted, .stat-egg-plants-petted, .stat-fruit-trees-petted, .stat-gas-plants-petted, .stat-spice-plants-petted, .stat-wood-trees-petted, .stat-heli-kitties-petted, .stat-piggies-petted {
    color: #f98686
}

.stat-favor-earned, .stat-shrine-donations, .stat-emblems-caressed, .stat-emblems-collected, .stat-emblems-considered, .stat-emblems-contemplated, .stat-icons-collected, .stat-icons-tithed, .stat-icons-revered, .stat-icons-ruminated {
    color: #ad8f42
}

.stat-grapes-squished, .stat-gas-converted {
    color: #752261
}

.stat-blender-uses, .stat-cubimal-boxes-opened, .stat-cubimals-set-free, .stat-fruit-converted, .stat-frying-pan-uses, .stat-piggies-nibbled, .stat-tinkertool-uses {
    color: #ef4f4f
}

.stat-jellisac-harvested, .stat-beans-seasoned {
    color: #199912
}

.stat-rocks-mined, .stat-grill-uses, .stat-awesome-pot-uses, .stat-cocktail-shaker-uses, .stat-salmon-pocketed {
    color: #5e5e5e
}

.stat-bean-trees-watered, .stat-bubble-trees-watered, .stat-egg-plants-watered, .stat-fruit-trees-watered, .stat-gas-plants-watered, .stat-spice-plants-watered, .stat-wood-trees-watered, .stat-ice-scraped, .stat-butterflies-massaged, .stat-butterflies-milked, .stat-bubbles-transformed {
    color: #5f8ddd
}

@-webkit-keyframes helikitty {
    from {
        background-position: 0
    }
    to {
        background-position: 5600px
    }
}

@-moz-keyframes helikitty {
    from {
        background-position: 0
    }
    to {
        background-position: 5600px
    }
}

@-o-keyframes helikitty {
    from {
        background-position: 0
    }
    to {
        background-position: 5600px
    }
}

@keyframes helikitty {
    from {
        background-position: 0
    }
    to {
        background-position: 5600px
    }
}

#heli-fly {
    width: 280px;
    height: 394px;
    background-image: url(https://childrenofur.com/mapfiller/images/helianim.png);
    -webkit-animation: helikitty .67s steps(20, end) infinite;
    -moz-animation: helikitty .67s steps(20, end) infinite;
    -o-animation: helikitty .67s steps(20, end) infinite;
    animation: helikitty .67s steps(20, end) infinite
}

@-webkit-keyframes bounceArrow {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}

.bounceArrow {
    -webkit-animation: bounceArrow 2s infinite
}

.row#cta-imgs {
    padding-left: 10px;
    padding-right: 10px
}

.row#cta-imgs > .cta-slice-div {
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 336px
}

@media (min-width: 768px) {
    .row#cta-imgs #cta-slice-cta {
        margin-top: -130px
    }
}

#jumbotron-home {
    height: calc(100vh);
    min-height: 768px;
    margin-top: -70px;
    box-shadow: 0 2px 2px 0 #aaa
}

#jumbotron-home * {
    margin-top: 1em;
}

#jumbotron-home .col-md-8.col-md-offset-3 h1 {
    display: inline;
    position: relative;
    top: 12px;
    color: #4b2e4c;
    text-shadow: 0 0 10px #fff
}

#jumbotron-home .col-md-8.col-md-offset-3 p {
    display: inline;
    margin: 0;
    padding: 0
}

@media (max-width: 767px) {
    #jumbotron-home > .container > .row.graphic > * {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
}