a.thumbnail:hover, a.thumbnail:active, a.thumbnail:focus {
    text-decoration: none
}

.profile-img.img-circle {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    text-align: center;
}

.profile-img.img-circle img {
    margin: auto;
    position: relative;
    top: 50%;
    transform: scaleX(-1) translateY(calc(-50% - 10px));
}
