<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    {% include "_common/randbg.html" %}
    <title>Error {{ error_code }} | Children of Ur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body class="randbg">
{% include "_common/navbar.html" %}

<div class="container main-container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="center-block graphic" style="font-size: 64px;">Error {{ error.code if error.code else 500 }}</h1>
            <h2 class="center-block graphic">{{ error }}</h2>
        </div>
        <div class="col-sm-6">
            <div class="err-cubimal"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{{ url_for('core_pages._index') }}" class="btn btn-primary btn-lg">Go to Homepage</a>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
