<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Children of Ur Features</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="page-header">
        <h1 class="text-center">
            Features
        </h1>
    </div>
    <div class="page-header section-divider">
        <img src="{{ url_for('static', filename='img/npc/deimaginator.png') }}" class="pull-right" alt="Deimaginator">
        <h2 id="issues">
            <a href="#issues"><i class="fas fa-bookmark"></i></a>
            Known Issues
        </h2>
    </div>
    <p>
        Issues and feature requests are maintained on our
        <a href="https://github.com/ChildrenOfUr/cou-issues/issues" target="_blank">GitHub issues page</a>.
    </p>
    <div class="page-header section-divider clearfix">
        <h2 id="features">
            <a href="#features"><i class="fas fa-bookmark"></i></a>
            Releases
        </h2>
    </div>
    <p>
        The game is currently in <strong>Alpha</strong>, which means there's still a lot of bugs and features that
        haven't yet made it into the game. If you want to report a bug or request a new feature, check out our
        <a href="{{ url_for('core_pages._help') }}#report" target="_blank">reporting info</a> or
        <a href="https://github.com/ChildrenOfUr/cou-issues/issues">bug reports</a>.
    </p>
    <div class="page-header section-divider">
        <img src="{{ url_for('static', filename='img/npc/greeterbot.png') }}" class="pull-right" alt="Greeterbot">
        <h2 id="community">
            <a href="#community"><i class="fas fa-bookmark"></i></a>
            Community
        </h2>
    </div>
    <p>
        Our community (you guys!) is what makes this game so special. Our goal is to make Children of Ur a more
        community-driven game than Glitch, taking in more user input and help with development, to make a game you
        want to play.
    </p>
    <p>
        We had great success with the <a href="https://childrenofur.com/mapfiller/">MapFiller</a> and the entity
        phrase suggestions, leading us to believe that the community is more involved already. If you have any
        messages for us, create an issue on GitHub, email us, or contact us on social media.
    </p>
</div>

{% include "_common/foot.html" %}
</body>
</html>
