<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Fine Print | Children of Ur</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="page-header">
        <h1 class="text-center">Fine Print</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-danger text-center">Voiding the Terms of Service or Community Guidelines will result in a
                ban of varying length, so read carefully.</p>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header section-divider">
                <h1>Community Guidelines</h1>
            </div>
        </div>
    </div>
    <h2>Act with Respect Towards Others</h2>
    <ul>
        <li>
            Absolutely no personal attacks or hateful speech directed at others’ gender, sexual orientation,
            religious beliefs, ethnic background or anything else you should have the good sense not to hate on.
        </li>
        <li>
            Public areas in the game deserve the same sort of decorum, tact and consideration that public areas in
            your neighborhood do: excessive obscenity, vulgarity, or other kinds of generally offensive behavior are
            not welcome.
        </li>
        <li>
            No griefing or harassing other players. It’s not fun, or funny. Really. If you are in the game for the
            purpose of pissing other people off, you can’t play.
        </li>
    </ul>
    <h2>Make Children of Ur a Welcoming Place</h2>
    It’s hard to create and sustain great communities on the Internet. Children of Ur is a great community and
    sustaining it will take effort, from you as well as from us.
    <ul>
        <li>
            Public areas are public, so treat them as a shared resource.
        </li>
        <li>
            Though we may compete or have rivalries and conflicts inside the game world, we are all playing
            together. Competition in the game does not preclude offering help and hospitality to other players.
        </li>
        <li>
            Avoid assuming bad intentions in other players: some of them will think differently than you; or English
            might not be their first language; or their kid will have spilled a glass of milk on the cat a second
            ago; or they might not understand the particular nuances with which you play. Or... who knows? A
            willingness to forgive will go a long way, especially when directed towards new players who might not
            yet have fully learned what effects their actions have on others.
        </li>
    </ul>
    <h2>There is no "right way" to play</h2>
    <ul>
        <li>
            Creating new gameplay by adopting roles (good or bad) is good. A little mischief can be welcome (as
            long, of course, as it is within the guidelines articulated here and our Terms of Service).
        </li>
        <li>
            Vigilante action against players who are, in your opinion, playing "incorrectly" can be griefing too and
            it is not allowed. If you see abuse in the game, you should report it. But calling out another player in
            the forums or public channels and organizing people to bully them is itself a kind of harassment and
            will be moderated as such.
        </li>
    </ul>
    <h2>Play Fair</h2>
    In Children of Ur, the journey matters far more than the destination. This game is not about just winning,
    leveling up, or amassing the most currants.
    <ul>
        <li>
            Using bots, mules, or other hacks to gain significant and unfair advantage in the game is not allowed.
        </li>
        <li>
            Multiple accounts controlled by one person playing at the same time is not allowed.
        </li>
        <li>
            Duping or deceiving other players into doing things which benefit you at their expense is not allowed.
        </li>
    </ul>
    <h2>Don’t Just Speak Up, but Listen Too</h2>
    Active participation is important to building the game together, but listening to other perspectives is
    important too:
    <ul>
        <li>
            If people don’t respond to what you have to say, move on. Flooding public areas with the same idea is
            not OK.
        </li>
        <li>
            We may moderate public areas of conversation (forums, global chat, live help, and other areas of the
            site) when it feels that the conversation is being hidden behind people shouting.
        </li>
        <li>
            Use appropriate channels for your conversation:
            <ul>
                <li>
                    Each of the forums and public channels is for a specific use — respect our guidelines.
                </li>
                <li>
                    Some conversation is just for friends or personal chats, keep this conversation out of public
                    areas and in IMs, Mail, in Groups or other channels of communication.
                </li>
            </ul>
        </li>
        <li>
            Hectoring, badgering and continuing to talk to people after they’ve expressed that they don’t want to
            talk to you is just another kind of harassment: don’t do it.
        </li>
    </ul>
    <h2>The Bottom Line</h2>
    <p>
        Though we have a moderated community, the ideal is a community that is mostly self-regulating. But keep in
        mind that no one has a right to play and access to the game is at the sole discretion of the game’s
        administrators (the CoU development team). If you can't abide by the guidelines above, you can’t play.
        It is our job to keep CoU a safe and welcoming place. We might not catch everything that goes wrong,
        but we'll try our hardest, with your help.
    </p>
    <div class="page-header section-divider">
        <h1>Terms of Service</h1>
    </div>
    <p>
        Any participation in this game or site will constitute acceptance of this agreement. If you do not agree to
        abide by the above, please do not use this site.
    </p>
    <div class="page-header section-divider">
        <h1>Do you agree?</h1>
    </div>
    <p>
        While accepting to follow these terms is optional, you cannot play the game if you decline.
    </p>
    <div class="row">
        <form>
            <div class="col-md-3 col-xs-6">
                <button type="submit" class="btn btn-success btn-lg btn-block">Accept</button>
            </div>
            <div class="col-md-3 col-xs-6">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Decline</button>
            </div>
        </form>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
