<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Help | Children of Ur</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="page-header section-divider">
        <h2 id="faq">
            <a href="#faq"><i class="fas fa-bookmark"></i></a>
            FAQ
        </h2>
    </div>
    <p class="lead">Is the server down?</p>
    <p>
        Sometimes yes, but usually no. You can check whether we're having any problems on the status page:&nbsp;
        <a href="http://status.childrenofur.com" class="btn btn-primary btn-sm">CoU Status Page</a>
    </p>
    <p class="lead">Oh no! There's things missing from the game!</p>
    <p>
        Yep! There's lot of things that haven't made it into the game yet. Don't worry! We're working on it,
        promise. If you think that you should be seeing the feature and are not, check our Features page to see
        what's made it into the game so far. If the feature is missing when you play, go ahead and send us a bug
        report! We'd love to know.
    </p>
    <p class="lead">The game isn't showing up right.</p>
    <p>
        If you are on a touchscreen device, even if it isn't a mobile device, your browser may use the mobile view.
        To disable it, type <code>/interface desktop</code> in chat and press enter.
    </p>
    <p class="lead">Why aren't you working with the other groups to make the game?</p>
    <p>
        Great question! Our team started working on this game before Tiny Speck released their assets to the public.
        We made some good progress before a lot of the other teams were formed. We completely support the other
        groups' work, we just have different skills and plans for the future of Glitch. It's like comparing apples
        to mangosteens.
    </p>
    <p class="lead"><a id="report" class="anchor"></a>Something is broken! How do I tell you?</p>
    <i class="fab fa-github-alt fa-5x pull-left"></i>

    <p>
        The easiest way to report an issue is to click the bug icon at the top right of the game window. However, if
        you can't log in to the game, you can contact us or create an issue on our
        <a href="https://github.com/ChildrenOfUr/cou-issues/issues" target="_blank">GitHub issues page</a> (you'll
        need to sign in or create a GitHub account) but please make sure that it hasn't been reported before.
        If it has, just comment on the existing report.
    </p>
    <p>
        To report a new bug, click the green <em>New Issue</em> button at the top right. In the boxes that appear,
        enter a short but descriptive title, such as <em>Falling through platforms</em> or
        <em>Stuck at loading streets</em>. Then, write a short paragraph telling us what you were doing when it
        happened, everything you tried to fix it... typical bug report stuff. If you want to include an image
        (which we love) simply read the text at the bottom of the big text box. When you're done, click
        <em>Submit new issue</em>, and we will try to work on it ASAP.
    </p>
    <div class="row" id="contact">
        <div class="col-md-8">
            <div class="page-header section-divider">
                <h2 id="contact">
                    <a href="#contact"><i class="fas fa-bookmark"></i></a>
                    Contact Us
                </h2>
            </div>
            <p>
                We want to keep our communications and operations as open as possible. If you need help or have a
                problem, please contact us on any of these sites, where other players can help you in addition to
                our team members.
            </p>
            <p>
                If you really need to privately contact us, let us know on one of these sites and we'll do our best
                to help you.
            </p>
            <p>
                You can also <a href="mailto:publicrelations@childrenofur.com">email us</a>.
            </p>
        </div>
        <div class="col-md-4">
            <div class="page-header section-divider">
                <h2 id="follow">
                    <a href="#follow"><i class="fas fa-bookmark"></i></a>
                    Follow Our Progress
                </h2>
            </div>
            <a href="https://gitlab.com/ChildrenOfUr/" class="btn btn-block btn-warning" target="_blank">
                <i class="fab fa-gitlab"></i>
                ChildrenOfUr
            </a>
            <a href="https://plus.google.com/u/0/communities/103304995470607753666" class="btn btn-block btn-danger"
               target="_blank">
                <i class="fab fa-google-plus"></i>
                CoU Development Community
            </a>
            <a href="https://twitter.com/childrenofur/" class="btn btn-block btn-info" target="_blank">
                <i class="fab fa-twitter"></i>
                @ChildrenOfUr
            </a>
            <a href="https://www.facebook.com/childrenofur/" class="btn btn-block btn-primary" target="_blank">
                <i class="fab fa-facebook"></i>
                ChildrenOfUr
            </a>
        </div>
    </div>
    <!-- Compatibility -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header section-divider">
                <h2 id="compatibility">
                    <a href="#compatibility"><i class="fas fa-bookmark"></i></a>
                    Compatibility
                </h2>
            </div>
            <p>
                Our game does not require any downloads or plugins to run, which means no Flash Player, Java
                Runtime, Unity Web Player, or other launchers to keep updated, and makes it compatible with more
                platforms because it does not need to rely on the compatibility of other software.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Browsers</p>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/chrome1.png') }}"
                 class="img-responsive center-block" alt="Chrome" title="Chrome">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/firefox1.png') }}"
                 class="img-responsive center-block" alt="Firefox" title="Firefox">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/opera1.png') }}"
                 class="img-responsive center-block" alt="Opera" title="Opera">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/vivaldi.png') }}"
                 class="img-responsive center-block" alt="Vivaldi" title="Vivaldi">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/safari1.png') }}"
                 class="img-responsive center-block" alt="Safari" title="Safari">
            <h4 class="text-center text-danger"><i class="fas fa-times"></i> Broken</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/ie1.png') }}"
                 class="img-responsive center-block" alt="Internet Explorer" title="Internet Explorer">
            <h4 class="text-center text-danger"><i class="fas fa-times"></i> Broken</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <img src="{{ url_for('static', filename='img/compatibility/edge1.png') }}"
                 class="img-responsive center-block" alt="Microsoft Edge" title="Microsoft Edge">
            <h4 class="text-center text-danger"><i class="fas fa-times"></i> Broken</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">Platforms</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
            <img src="{{ url_for('static', filename='img/compatibility/linux2.png') }}"
                 class="img-responsive center-block" alt="Linux" title="Linux">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <img src="{{ url_for('static', filename='img/compatibility/mac1.png') }}"
                 class="img-responsive center-block" alt="Mac OS X" title="Mac OS X">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <img src="{{ url_for('static', filename='img/compatibility/windows1.png') }}"
                 class="img-responsive center-block" alt="Windows" title="Windows">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <img src="{{ url_for('static', filename='img/compatibility/android.png') }}"
                 class="img-responsive center-block" alt="Android" title="Android">
            <h4 class="text-center text-success"><i class="fas fa-check"></i> Compatible <sup><a
                    href="#android">1</a></sup></h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <img src="{{ url_for('static', filename='img/compatibility/ios.png') }}"
                 class="img-responsive center-block" alt="iOS" title="iOS">
            <h4 class="text-center text-danger"><i class="fas fa-times"></i> Broken</h4>
        </div>
        <div class="col-xs-12">
            <p class="lead text-center">Notes</p>
            <ol>
                <li id="android">Android has been tested with the Chrome browser app. Compatibility with the Android
                    system (AOSP) browser is unknown.
                </li>
            </ol>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
