<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ member.name }} | Children of Ur Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}"
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container main-container">
    <div class="jumbotron">
        <h1>
            {% if member.cou_username %}
                <div class="profile-img img-circle img-thumbnail pull-right">
                    <img src="{{ avatar_url }}" alt="{{ member.cou_username }}'s avatar">
                </div>
            {% endif %}
            {{ member.name }}
        </h1>

        {% if member.role %}
            <h2>{{ member.role }}</h2>
        {% endif %}

        {% if member.bio %}
            <p>{{ member.bio | safe }}</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Links</div>
                <div class="panel-body">
                    {% if member.cou_username %}
                        <a href="{{ profile_url }}" class="btn btn-lg btn-success">
                            <i class="fas fa-fw fa-gamepad"></i> {{ member.cou_username }} on CoU
                        </a>
                    {% endif %}
                    {% if member.glitch_id %}
                        <a href="http://www.glitchthegame.com/profiles/{{ member.glitch_id }}"
                           class="btn btn-lg btn-primary">
                            <i class="fa fa-fw fa-user"></i> Glitch Profile
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
