<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ giant.name }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ giant.name }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{{ giant.icon_url }}" alt="">
        </div>
        <div class="col-sm-8">
            <p class="lead">{{ giant.description }}</p>
            <div class="alert alert-success">
                Giant of {{ giant.domain }}
            </div>
            <div class="alert alert-warning">
                {{ ", ".join(giant.characteristics) }}
            </div>
            <div class="alert alert-info">
                Adherents are known as {{ giant.adherents }}
            </div>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
