<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
    {% include "_common/randbg.html" %}
</head>
<body class="randbg">
{% include "_common/navbar.html" %}

<div class="container thumbnail well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Encyclopedia</h1>
                <hr>
            </div>
        </div>
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form action="/encyclopedia/search" method="get">
                <div class="input-group input-group-lg" id="encyclopedia-search">
                    <input name="q" class="form-control" type="search" required placeholder="Search the encyclopedia">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="fas fa-search"></i> Go
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
