<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ list_title }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
    <div class="row object-list">
        {% for obj in list_objs | sort(attribute='name') %}
            <a href="{{ obj.url }}">
                <div class="listed-object col-xs-6 col-sm-3 col-lg-2">
                    <img src="{{ obj.icon_url }}" alt="">
                    <span>{{ obj.name }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
