<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ street.name }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ street.name }}</h1>
            </div>
        </div>
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    Region:
                    <a href="{{ street.hub().url }}">{{ street.hub().name }}</a>
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="street-image img-thumbnail" id="street-image"
                 data-main-image-url="{{ street.cat422.data['main_image']['url'] }}"
                 data-main-image-width="{{ street.cat422.data['main_image']['w'] }}"
                 data-main-image-height="{{ street.cat422.data['main_image']['h'] }}"
                 data-loading-image-url="{{ street.cat422.data['loading_image']['url'] }}"
                 data-loading-image-width="{{ street.cat422.data['loading_image']['w'] }}"
                 data-loading-image-height="{{ street.cat422.data['loading_image']['h'] }}">
                <button class="btn btn-default btn-lg">
                    <i class="fas fa-lg"></i>
                </button>
            </div>
            <hr>

            {% if street.hidden %}
                <div class="alert alert-warning">
                    <i class="fas fa-fw fa-lock"></i>
                    This street is secret, so it isn't available as a teleportation destination.
                </div>
            {% endif %}

            {% if street.broken %}
                <div class="alert alert-danger">
                    <i class="fas fa-fw fa-bug"></i>
                    This street is broken, so the Magic Rock offers a free escape.
                </div>
            {% endif %}

            {% if street.hidden or street.broken %}
                <hr>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if street.has_mailbox or street.vendor or street.shrine or street.entity_counts %}
            <div class="col-sm-6">
                <h2>Featuring</h2>

                <ul>
                    {% if street.has_mailbox %}
                        <li>A mailbox</li>
                    {% endif %}

                    {% if street.shrine %}
                        <li>A shrine to <a href="{{ street.giant.url }}">{{ street.shrine }}</a></li>
                    {% endif %}

                    {% if street.vendor %}
                        <li>A {{ street.vendor }} Vendor</li>
                    {% endif %}

                    {% if street.entity_counts %}
                        {% for entity_type in street.entity_counts %}
                            <li>{{ split_camel_case(entity_type) }} &times;{{ street.entity_counts[entity_type] }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <div class="col-sm-6">
            {% if street.connections.data %}
                <h2>Connecting Streets</h2>

                <ul>
                    {% for connection in street.connections.data | sort(attribute='name') %}
                        <li>
                            <a href="{{ connection.url }}">{{ connection.name }}</a>
                            {% if connection.hub().name != street.hub().name %}
                                in <a href="{{ connection.hub().url }}">{{ connection.hub().name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="{{ url_for('static', filename='js/street_image.js') }}"></script>
<script>
    new StreetImage(document.getElementById("street-image"));
</script>
</body>
</html>
